<h1>Gameboard#show</h1>
<p>Find me in app/views/gameboard/show.html.erb</p>
<div id='mapbox'>
<%= map(:center => { :latlng => [51.52238797921441, -0.08366235665359283], :zoom => 18 }, :markers => [ { :latlng => [51.52238797921441, -0.08366235665359283], } ] ) %>
</div>
<script>
var geoJsonList = <%= raw @result.to_json %>;
</script>
